{% extends 'subsistema/base.html' %}

{% block content %}
<form method="POST" class="post-form">
    {% csrf_token %}
    {{ form.as_p }}
    <select name="curso">
        {% for curso in curso %}
            {% ifequal curso.id selected_curso.id %}
                <option value="{{curso.key}}" selected="selected">curso {{curso.id}}: {{curso.nomeCurso}}</option>
            {% else %}
                <option value="{{curso.key}}">curso {{curso.id}}: {{curso.nomeCurso}}</option>
            {% endifequal %}
        {% endfor %}
    </select>
    <input type="submit" name="submit" value="Salvar" class="save btn btn-default">
</form>
<a href="{% url 'login' %}" class="btn btn-default">Voltar</a>    
{% endblock %}



